{% extends "layout.html" %}
{% block main %}
    <!-- JOBS DETAIL-->
    <div class="container-fluid mt-5" style="width: 90%;">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <h3 class="custom-header mb-4">Ажил хойшлуулах ID: {{ job.id }}</h3>
                <br>
                    <form id="form" method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="table-responsive-sm">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-grad">
                                        <th scope="col">#</th>
                                        <th scope="col">Байгууллага</th>
                                        <th scope="col">Төлөв</th>
                                        <th scope="col">Хаяг/Утас</th>
                                        <th scope="col">Бараа/Тоо ширхэг</th>
                                        <th scope="col">Бүс</th>
                                        <th scope="col">Жолооч</th>
                                        <th scope="col">Дүн</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <th>{{ job.supplier_company_name | capitalize }}</th>
                                        <th>
                                            <p class="text-success fw-bold">Хүргэсэн</p>
                                        </th>
                                        <td>
                                            {% if job.addresses.city is not none %}
                                                {{ job.addresses.city }},
                                            {% endif %}

                                            {% if job.addresses.district is not none %}
                                                {{ job.addresses.district }},
                                            {% endif %}

                                            {% if job.addresses.khoroo is not none %}
                                                {{ job.addresses.khoroo }},
                                            {% endif %}

                                            {% if job.addresses.aimag is not none %}
                                                {{ job.addresses.aimag }},
                                            {% endif %}

                                            {{ job.addresses.address }},
                                            {{ job.addresses.phone }},
                                            {{ job.addresses.phone_more }}
                                        </td>
                                        <td>
                                            {% if job.order_type == "stored" %}
                                                {% for order_detail in job.delivery_details %}
                                                    {{ order_detail.products.name }},
                                                    {{ order_detail.quantity }}
                                                    ширхэг,
                                                    {{ (order_detail.products.price)  | round | int | numberFormat }}₮
                                                {% endfor %}
                                            {% else %}
                                                {{ job.total_amount }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if job.delivery_region is none %}
                                                Байхгүй
                                            {% else %}
                                                {{ job.delivery_region }}
                                            {% endif %}
                                        </td>
                                        <td>{{ job.assigned_driver_name }}</td>
                                        <th style="color:rgb(56, 159, 45)">
                                            {{ job.total_amount  | round | int | numberFormat }}
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                {{ form.driver_comment.label(class="form-control-label") }}
                                {% if form.driver_comment.errors %}
                                    {{ form.driver_comment(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.driver_comment.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.driver_comment(class="form-control", style="min-height: 105px;") }}
                                {% endif %}
                            </div>
                            <div class="float-end">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END JOB DETAIL -->
{% endblock main %}