{% extends "layout.html" %}
{% block main %}
    <!-- Products -->
    <div class="container-fluid mt-5 min-vh-100" style="width: 90%;">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <h3 class="custom-header mb-4">Нийт Хүргэлт</h3>
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="row g-2">
                        <div class="col-md-3">
                            {{ form.select_date.label(class="form-control-label") }}
                            {% if form.select_date.errors %}
                                {{ form.select_date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.select_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.select_date(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col-md-3 align-self-center">
                            {{ form.submit(class="btn btn-outline-success m-0") }}
                        </div>
                    </div>
                </form>
                <div class="table-responsive-sm">
                    <table id="example" class="table table-hover display">
                        <thead>
                            <tr class="bg-grad">
                                <th scope="col" class="bg-grad">#</th>
                                <th scope="col" class="bg-grad">Байгууллага</th>
                                <th scope="col" class="bg-grad">Төлөв</th>
                                <th scope="col" class="bg-grad">Хүргэсэн огноо</th>
                                <th scope="col" class="bg-grad">Хаяг/Утас</th>
                                <th scope="col" class="bg-grad">Бараа/Тоо ширхэг</th>
                                <th scope="col" class="bg-grad">Дүн</th>
                                <th scope="col" class="bg-grad">Нягтлангаас</th>
                                <th scope="col" class="bg-grad"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in jobs %}
                                <tr>
                                    <td scope="row">
                                        <p>{{ loop.index }}.</p>
                                    </td>
                                    <td>
                                        <p>{{ order.supplier_company_name }}</p>
                                    </td>
                                    <td>
                                        {% if order.status == "assigned" %}
                                            <p class="text-success fw-bold">Хувиарлагдсан</p>
                                        {% elif order.status == "started" %}
                                            <p class="fw-bold" style="color: coral;">Эхлүүлсэн</p>
                                        {% elif order.status == "completed" %}
                                            <p class="text-success fw-bold">Хүргэсэн</p>
                                        {% elif order.status == "cancelled" %}
                                            <p class="text-danger fw-bold">Цуцалсан</p>
                                            <p>Коммент:
                                                {{ order.driver_comment }}</p>
                                        {% elif order.status == "postphoned" %}
                                            <p class="text-info fw-bold">Хойшлуулсан</p>
                                            <p>хойшлуулсан огноо:
                                                {{ order.postphoned_date }}</p>
                                            <p>Коммент:
                                                {{ order.driver_comment }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p class="text-nowrap">
                                            {% if order.delivered_date %}
                                                {{ order.delivered_date }}
                                                {% else %}

                                            {% endif %}
                                        </p>
                                    </td>
                                    <td>
                                        <p style="max-width: 150px;">
                                            {% if order.destination_type == "local" %}
                                                {{ order.addresses.district }},
                                                {{ order.addresses.khoroo }}-р хороо,{{ order.addresses.address }},
                                                {{ order.addresses.phone }},
                                                {{ order.addresses.phone_more }}
                                            {% elif order.destination_type == "long" %}
                                                {{ order.addresses.aimag }},
                                                {{ order.addresses.address }},
                                                {{ order.addresses.phone }},
                                                {{ order.addresses.phone_more }}
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td>
                                        <span>
                                            {% if order.order_type == "stored" %}
                                                {% for order_detail in order.delivery_details %}
                                                    {{ order_detail.products.name }},
                                                    {{ order_detail.quantity }}
                                                    ширхэг,
                                                                                                            нэгж үнэ:
                                                    {{ (order_detail.products.price)  | round | int | numberFormat }}₮
                                                {% endfor %}
                                            {% else %}
                                                {{ order.addresses.phone }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td style="color:rgb(56, 159, 45)">
                                        <p>{{ order.total_amount  | round | int | numberFormat }}₮</p>
                                    </td>
                                    <td>
                                        {% if order.is_received_from_clerk %}
                                            <p>Тийм</p>
                                        {% else %}
                                            <p>Үгүй</p>
                                            <a class="btn btn-outline-success" href="{{ url_for('driver_job.driver_job_accept', order_id=order.id) }}">Хүлээж авах</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-success" href="{{ url_for('driver_job.driver_job_detail', order_id=order.id) }}">Төлөв өөрчлөх</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Products -->
<script>
    $(document).ready(function () {
        var dragSrc = null; // Globally track source cell
        var cells = null; // All cells in table

        var table = $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                }, {
                    extend: 'print',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                }, {
                    extend: 'excelHtml5',
                    text: 'Excel',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
            ],
            "language": {
                "lengthMenu": "_MENU_ эгнээ харах",
                "zeroRecords": "Дата алга",
                "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                "infoEmpty": "",
                "sSearch": "Хайх",
                "paginate": {
                    "previous": "өмнөх",
                    "next": "дараа"
                }

            },
            pageLength: 100,
            columnDefs: [
                {
                    targets: 0,

                    // Set HTML5 draggable for all cells
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).attr('draggable', 'true');
                    }
                }
            ],
            drawCallback: function () { // Apply HTML5 drag and drop listeners to all cells
                cells = document.querySelectorAll('#example td');
                [].forEach.call(cells, function (cell) {
                    cell.addEventListener('dragstart', handleDragStart, false);
                    cell.addEventListener('dragenter', handleDragEnter, false)
                    cell.addEventListener('dragover', handleDragOver, false);
                    cell.addEventListener('dragleave', handleDragLeave, false);
                    cell.addEventListener('drop', handleDrop, false);
                    cell.addEventListener('dragend', handleDragEnd, false);
                });
            }
        });


        function handleDragStart(e) {
            this.style.opacity = '0.4'; // this / e.target is the source node.
            dragSrc = this;
            // Keep track of source cell

            // Allow moves
            e.dataTransfer.effectAllowed = 'move';

            // Get the cell data and store in the transfer data object
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault(); // Necessary. Allows us to drop.
            }

            // Allow moves
            e.dataTransfer.dropEffect = 'move'; // See the section on the DataTransfer object.

            return false;
        }

        function handleDragEnter(e) {
            // this / e.target is the current hover target.

            // Apply drop zone visual
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            // this / e.target is previous target element.

            // Remove drop zone visual
            this.classList.remove('over');
        }

        function handleDrop(e) { // this / e.target is current target element.

            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }

            // Don't do anything if dropping the same column we're dragging.
            if (dragSrc != this) { // Set the source column's HTML to the HTML of the column we dropped on.
                dragSrc.innerHTML = this.innerHTML;

                // Set the distination cell to the transfer data from the source
                this.innerHTML = e.dataTransfer.getData('text/html');

                // Invalidate the src cell and dst cell to have DT update its cache then draw
                table.cell(dragSrc).invalidate();
                table.cell(this).invalidate().draw(false);
            }

            return false;
        }

        function handleDragEnd(e) { // this/e.target is the source node.
            this.style.opacity = '1.0';
            [].forEach.call(cells, function (cell) { // Make sure to remove drop zone visual class
                cell.classList.remove('over');
            });
        }
    });
</script>{% endblock main %}
