{% extends "layout.html" %}
{% block main %} 
<div class="container pt-5 pb-5 pl-2 pr-2 min-vh-100">
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 col-xl-4 col-lg-4  col-md-6 col-sm-8 col-xs-12">
            <div class="content-section">
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Шинэ нууц үг</legend>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-sm") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#form").submit(function () {
        var loader = document.createElement("div");
        $(loader).html('<div class="preloader"><img src="{{ url_for("static", filename="images/preloader.svg") }}" alt="Pre-loader"></div>');
        $("body").append(loader);
    });
</script>
{% endblock main %}