{% extends "layout.html" %}
{% block main %}
    <div class="container-fluid mt-5 min-vh-100" style="width: 80%;">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <h3 class="custom-header mb-4">{{ current_date.strftime('%Y-%m') }}
                    сарын
                    {{ current_period_start|int }}
                    -
                    {{ current_period_end|int }}
                    хооронд</h3>
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="row g-2 mt-5 mb-5">
                        <div class="col-md-3">
                            {{ form.select_date.label(class="form-control-label") }}
                            {% if form.select_date.errors %}
                                {{ form.select_date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.select_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.select_date(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col-md-3 align-self-center">
                            {{ form.submit(class="btn btn-outline-success m-0") }}
                        </div>
                    </div>
                </form>
                <div class="table-responsive-sm">
                    <table id="example" class="table table-lg table-bordered table-striped display">
                        <thead>
                            <tr>
                                <th scope="col" class="bg-grad">Жолооч/Өдөр</th>
                                <th scope="col" class="bg-grad"></th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Даваа</div>
                                    {{ day_list[0]|int }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Мягмар</div>
                                    {{ (day_list[1]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Лхагва</div>
                                    {{ (day_list[2]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Пүрэв</div>
                                    {{ (day_list[3]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Баасан</div>
                                    {{ (day_list[4]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Бямба</div>
                                    {{ (day_list[5]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Ням</div>
                                    {{ (day_list[6]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Даваа</div>
                                    {{ (day_list[7]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Мягмар</div>
                                    {{ (day_list[8]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Лхагва</div>
                                    {{ (day_list[9]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Пүрэв</div>
                                    {{ (day_list[10]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Баасан</div>
                                    {{ (day_list[11]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Бямба</div>
                                    {{ (day_list[12]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">
                                    <div class="vertical">Ням</div>
                                    {{ (day_list[13]|int) }}
                                </th>
                                <th scope="col" class="bg-grad">Нийт тоо</th>
                                <th scope="col" class="bg-grad">Нийт</th>
                                <th scope="col" class="bg-grad">Бодогдсон цалин</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in datas %}

                                {% set orders_total_data = namespace (order_total = 0) %}
                                {% set pickups_total_data = namespace (pickup_total = 0) %}
                                {% for dt in data[2] %}
                                    {% set orders_total_data.order_total = orders_total_data.order_total + dt[1] %}
                                    {% set pickups_total_data.pickup_total = pickups_total_data.pickup_total + dt[2] %}
                                {% endfor %}
                                <tr>
                                    <td class="text-center align-middle">
                                        <span class="fw-bold">{{ data[0] }}</span>
                                    </td>
                                    <td class="text-center align-middle">Хүргэлт({{ payment_amount }})</td>
                                    {% for dt in data[2] %}
                                        <td class="text-center align-middle">
                                            {% if dt[1]>0 %}
                                                <span class="fw-bold">{{ dt[1] }}</span>
                                            {% else %}
                                                {{ dt[1] }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td class="text-center align-middle">
                                        <span class="fw-bold">{{ orders_total_data.order_total }}</span>
                                    </td>
                                    <td class="text-center align-middle">
                                        <span>{{ (orders_total_data.order_total * (payment_amount|int))  | numberFormat }}₮</span>
                                    </td>
                                    <td class="text-center align-middle">
                                        <span class="fw-bold">{{ (orders_total_data.order_total * (payment_amount|int) + pickups_total_data.pickup_total * (payment_amount|int))  | numberFormat }}₮</span>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 2px solid black">
                                    <td class="text-center align-middle">
                                        <span style="color: white;">{{ data[0] }}</span>
                                    </td>
                                    <td class="text-center align-middle">Таталт({{ payment_amount }})</td>
                                    {% for dt in data[2] %}
                                        <td class="text-center align-middle">
                                            {% if dt[2]>0 %}
                                                <span class="fw-bold">{{ dt[2] }}</span>
                                            {% else %}
                                                {{ dt[2] }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td class="text-center align-middle">
                                        <span class="fw-bold">{{ pickups_total_data.pickup_total }}</span>
                                    </td>
                                    <td class="text-center align-middle">
                                        <span>{{ (pickups_total_data.pickup_total * (payment_amount|int)) | numberFormat }}₮</span>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }, {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                paging: false,
                sorting: false,
                ordering: false,
                pageLength: 50,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ мөр",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }

                }
            });
        });
    </script>
{% endblock main %}
