{% extends "layout.html" %}
{% block main %}
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">Тооцоо</h3>
                    <form id="form" method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="row g-2">
                            <div class="col-md-3">
                                {{ form.select_date.label(class="form-control-label") }}
                                {% if form.select_date.errors %}
                                    {{ form.select_date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.select_date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.select_date(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3 align-self-center">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                            </div>
                        </div>
                    </form>
                    {% if suppliers_total|length > 0 %}
                        <div class="table-responsive-sm">
                            <table id="example" class="table table-lg table-bordered display" style="display: block; overflow-y: hidden; overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-grad">Харилцагч</th>
                                        <th scope="col" class="bg-grad">Нийт хүргэлтийн тоо</th>
                                        <th scope="col" class="bg-grad">Төлбөр</th>
                                        <th scope="col" class="bg-grad">Нэхэмжилдэг</th>
                                        <th scope="col" class="bg-grad">Нийт дүн</th>
                                        <th scope="col" class="bg-grad">Бэлэн орлого</th>
                                        <th scope="col" class="bg-grad">Шилжүүлэх дүн</th>
                                        <th scope="col" class="bg-grad">Бэлэн бус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in suppliers_total %}
                                        <tr>
                                            <td class="text-center align-middle">
                                                {{ supplier.supplier_name }}
                                            </td>
                                            <td>
                                                {{ supplier.total_delivery_count }}
                                            </td>
                                            <td>{{ supplier.fee }}</td>
                                            <td>
                                                {% if supplier.is_invoiced %}
                                                    Тйим
                                                {% else %}
                                                    Үгүй
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ supplier.total_amount }}
                                            </td>
                                            <td>
                                                {% if supplier.is_invoiced %}
                                                    0
                                                {% else %}
                                                    {{ supplier.total_delivery_count * supplier.fee }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if supplier.is_invoiced %}
                                                    {{ supplier.total_amount }}
                                                {% else %}
                                                    {% if supplier.total_amount == 0 %}
                                                        {{ supplier.total_amount }}
                                                    {% else %}
                                                        {{ supplier.total_amount - (supplier.total_delivery_count * supplier.fee) }}
                                                    {% endif %}
                                                    
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if supplier.is_invoiced %}
                                                    {{ (supplier.total_delivery_count * supplier.fee) }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }, {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                paging: false,
                sorting: false,
                ordering: false,
                pageLength: 50,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт:  _TOTAL_ ",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }

                }
            });
        });
    </script>
{% endblock main %}
