{% extends "layout.html" %}
{% block main %}
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">
                        {% if form.select_date.data is none %}
                            {{ current_date.strftime('%Y-%m') }}
                            сарын
                            {{ day_list | first }}
                            -
                            {{ day_list | last }}
                            хооронд
                        {% else %}
                            {{ form.select_date.data.strftime('%Y-%m') }}
                            сарын
                            {{ day_list | first }}
                            -
                            {{ day_list | last }}
                            хооронд
                        {% endif %}
                    </h3>
                    <form id="form" method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="row g-2">
                            <div class="col-md-3">
                                {{ form.select_date.label(class="form-control-label") }}
                                {% if form.select_date.errors %}
                                    {{ form.select_date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.select_date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.select_date(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3 align-self-center">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive-sm">
                        <table id="example" class="table table-lg table-bordered display" style="display: block; overflow-y: hidden; overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-grad">Харилцагч/{{ day_list | first }}-{{ day_list | last }} хооронд</th>
                                    <th scope="col" class="bg-grad"></th>
                                    {% for day in day_list %}
                                        <th scope="col" class="bg-grad">
                                            {{ day }}
                                        </th>
                                    {% endfor %}
                                    <th scope="col" class="bg-grad">Нийт</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in suppliers_datas %}
                                    {% set orders_total_data = namespace (total_data = 0) %}
                                    {% set daily_total_amount = namespace (total_amount = 0) %}
                                    {% set remaing_amount = namespace (remaining_amount = 0) %}
                                    {% set unremaing_amount = namespace (unremaining_amount = 0) %}
                                    {% for dt in data[4] %}
                                        {% set orders_total_data.total_data = orders_total_data.total_data + dt[1] %}
                                        {% set daily_total_amount.total_amount = daily_total_amount.total_amount + dt[2] %}
                                    {% endfor %}
                                    <tr>
                                        <td class="text-center align-middle" rowspan="5" style="border-bottom: 2px solid black">
                                            <span>
                                                <strong>{{ data[0] }}</strong>
                                            </span>
                                        </td>
                                        <td class="text-center align-middle">Хүргэлт тоо</td>
                                        {% for dt in data[4] %}
                                            <td class="text-center align-middle">
                                                {% if dt[1]>0 %}
                                                    <span>{{ dt[1] }}</span>
                                                {% else %}
                                                    {{ dt[1] }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle">
                                            <span class="fw-bold">{{ orders_total_data.total_data }}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center align-middle" style="display:none">
                                            <span>{{ data[0] }}</span>
                                        </td>
                                        <td class="text-center align-middle">Шилжүүлэх дүн</td>
                                        {% for dt in data[4] %}
                                            <td class="text-center align-middle">
                                                {{ dt[2] }}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle">
                                            <span class="fw-bold">{{ daily_total_amount.total_amount }}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center align-middle" style="display:none">
                                            <span>{{ data[0] }}</span>
                                        </td>
                                        <td class="text-center align-middle">Бэлэн орлого</td>
                                        {% for dt in data[4] %}
                                            <td class="text-center align-middle">
                                                {% if data[3] %}
                                                    <span>0</span>
                                                {% else %}
                                                    <span>{{ data[2]*dt[1] }}</span>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle">
                                            <span class="fw-bold">
                                                {% if data[3] %}
                                                    0
                                                {% else %}
                                                    {{ data[2]*orders_total_data.total_data }}
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center align-middle" style="display:none">
                                            <span>{{ data[0] }}</span>
                                        </td>
                                        <td class="text-center align-middle">Бэлэн бус</td>
                                        {% for dt in data[4] %}
                                            <td class="text-center align-middle">
                                                {% if data[3] %}
                                                    <span>{{ data[2]*dt[1] }}</span>
                                                {% else %}
                                                    <span>0</span>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle">
                                            <span class="fw-bold">
                                                {% if data[3] %}
                                                    {{ data[2]*orders_total_data.total_data }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>

                                    <tr style="border-bottom: 2px solid black">
                                        <td class="text-center align-middle" style="display:none">
                                            <span>{{ data[0] }}</span>
                                        </td>
                                        <td class="text-center align-middle fw-bold">Нийт</td>
                                        {% for dt in data[4] %}
                                            <td class="text-center align-middle">
                                                {% if dt[1]>0 %}
                                                    {{ daily_total_amount.total_amount - (data[2]*dt[1]) }}
                                                {% else %}
                                                    123123123
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle">
                                            <span class="fw-bold">
                                                {% if data[3] %}
                                                    {{ daily_total_amount.total_amount }}
                                                {% else %}
                                                    {{ daily_total_amount.total_amount - (data[2]*orders_total_data.total_data) }}
                                                {% endif%}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }, {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                paging: false,
                sorting: false,
                ordering: false,
                pageLength: 50,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас.",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }

                }
            });
        });
    </script>
{% endblock main %}
