{% extends "layout.html" %}
{% block main %}
    <div class="container-fluid mt-5 min-vh-100" style="width: 80%;">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <h3 class="custom-header mb-4">Жолоочийн захиалгын эрэмбэ</h3>
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="row g-2">
                        <div class="col-md-3">
                            {{ form.select_drivers.label(class="form-control-label") }}
                            {% if form.select_drivers.errors %}
                                {{ form.select_drivers(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.select_drivers.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.select_drivers(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="col-md-3 align-self-center">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                        </div>
                    </div>
                </form>
                    {% if orders|length > 0 %}
                    <div class="table-responsive-sm">
                        <table id="example" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-grad">Ажлын дараалал</th>
                                    <th scope="col" class="bg-grad">Байгууллага</th>
                                    <th scope="col" class="bg-grad">Төлөв</th>
                                    <th scope="col" class="bg-grad">Хүргэх огноо</th>
                                    <th scope="col" class="bg-grad">Хаяг/Утас</th>
                                    <th scope="col" class="bg-grad">Бараа/Тоо ширхэг</th>
                                    <th scope="col" class="bg-grad">Бүс</th>
                                    <th scope="col" class="bg-grad">Жолооч</th>
                                    <th scope="col" class="bg-grad">Нярваас жолооч</th>
                                    <th scope="col" class="bg-grad">Дүн</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td style="font-size: 30px;">
                                        <p class="fw-bold">{{ loop.index }}</p>
                                    </td>
                                    <td style="text-align: center;">
                                        <p class="fw-bold">{{ order.supplier_company_name }}</p>
                                    </td>
                                    <td style="text-align: center;">
                                        {% if order.status == "unassigned" %}
                                            {% if order.is_postphoned %}
                                                <p class="text-info fw-bold">хойшлуулсан</p>
                                                <p>хойшлуулсан огноо: {{ order.postphoned_date | datefilter }}</p>
                                                <p>Шалтгаан: {{ order.driver_comment }}</p>
                                            {% else %}
                                                <p class="text-danger fw-bold">жолооч хувиарлагдаагүй байна</p>
                                            {% endif %}
                                        {% elif order.status == "assigned" %}
                                            <p class="text-success fw-bold">жолооч хүргэлтэнд гарсан байна</p>
                                        {% elif order.status == "started" %}
                                            <p class="fw-bold" style="color: coral;">Одоо хүргэгдэхээр явж байна</p>
                                        {% elif order.status == "completed" %}
                                        <p class="text-success fw-bold">хүргэгдсэн</p>
                                        {% elif order.status == "cancelled" %}
                                            <p class="text-danger fw-bold">цуцлагдсан</p>
                                            <p>Шалтгаан:
                                                {{ order.driver_comment }}</p>
                                        {% elif order.status == "postphoned" %}
                                            <p class="text-info fw-bold">хойшлуулсан</p>
                                            <p>хойшлуулсан огноо:
                                                {{ order.postphoned_date }}</p>
                                            <p>Шалтгаан:
                                                {{ order.driver_comment }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap" style="text-align: center;">{{ order.delivery_date.strftime('%Y-%m-%d') }}</td>
                                    <td>
                                        {% if order.addresses.city is not none %}
                                            {{ order.addresses.city }},
                                        {% endif %}

                                        {% if order.addresses.district is not none %}
                                            {{ order.addresses.district }},
                                        {% endif %}

                                        {% if order.addresses.khoroo is not none %}
                                            {{ order.addresses.khoroo }}-р хороо,
                                        {% endif %}

                                        {% if order.addresses.aimag is not none %}
                                            {{ order.addresses.aimag }},
                                        {% endif %}

                                        <p>{{ order.addresses.address }},</p>
                                        <p>{{ order.addresses.phone }}, {{ order.addresses.phone_more }}</p>
                                    </td>
                                    <td>
                                        {% if order.order_type == "stored" %}
                                            {% set odpt = namespace (order_payment_type = "") %}
                                            {% for order_detail in order.delivery_details %}
                                                <p>
                                                    {{ order_detail.products.name }},
                                                    {{ order_detail.quantity }} ширхэг,
                                                    {% set odpt.order_payment_type = order_detail.payment_type %}
                                                    ₮{{ (order_detail.products.price*order_detail.quantity)  | round | int | numberFormat }}
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p class="text-center">1</p>
                                        {% endif%}
                                    </td>
                                    <td style="text-align: center;">
                                        <p class="fw-bold">
                                            {% if order.delivery_region is none %}
                                                Байхгүй
                                            {% else %}
                                                {{ order.delivery_region }}
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="fw-bold text-success">{{ order.assigned_driver_name }}</p>
                                    </td>
                                    <td>
                                        {% if order.received_from_clerk_id is none %}
                                            <p class="text-center text-danger fw-bold">Аваагүй</p>
                                        {% else %}
                                            <p class="text-center">Хүлээж авсан</p>
                                        {% endif%}
                                    </td>
                                    <td style=" text-align: end;">
                                        ₮{{ (order.total_amount | round | int) | numberFormat }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'CSV файл татах',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                paging: false,
                "columnDefs": [
                    {
                        "orderData": [0, 1]
                    },
                ],
                pageLength: 50,
                lengthMenu: [50, 100, 200, 500],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа",
                    }
                    
                }
            });
        });
    </script>
{% endblock main %}
