{% extends "layout.html" %}
{% block main %}
    <!-- ORDERS -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">Буцсан Бараа</h3>
                    <div class="table-responsive-sm">
                        <table id="example" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-grad">#</th>
                                    <th scope="col" class="bg-grad">Бараа</th>
                                    <th scope="col" class="bg-grad">Жолооч</th>
                                    <th scope="col" class="bg-grad">Төлөв</th>
                                    <th scope="col" class="bg-grad"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dropoff in dropoff_tasks %}
                                    <tr>
                                        <td scope="row">{{ loop.index }}</td>
                                        <td>
                                            {% for dropoff_detail in dropoff.dropoff_details %}
                                                <p>{{ dropoff_detail.phone }}</p>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if dropoff.driver_name is none %}
                                                <p class="fw-bold text-danger">жолооч хувиарлагдаагүй байна</p>
                                            {% else %}
                                                <p class="fw-bold">{{ dropoff.driver_name }}</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if dropoff.is_completed %}
                                                <p class="fw-bold">aвсан</p>
                                            {% else %}
                                                <p class="fw-bold">хүлээж аваагүй</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if dropoff.is_completed %}
                                                <p class="fw-bold">авсан ({{ dropoff.delivered_date }})</p>
                                            {% else %}
                                                {% if dropoff.driver_name is none %}
                                                    
                                                {% else %}
                                                    <a class="btn btn-outline-success" href="{{ url_for('supplier2_return.supplier2_returns_receive', dropoff_id=dropoff.id) }}">Хүлээж авах</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END ORDERS -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'CSV файл татах',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        text: '<a class="btn btn-outline-secondary m-2" style="float: left;">XLS файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                "columnDefs": [
                    {
                        "orderData": [0, 1]
                    },
                ],
                pageLength: 50,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }

                }
            });
        });
    </script>
{% endblock main %}
