{% extends "layout.html" %}
{% block main %}
    <!-- ORDERS -->
    <section>
        <div class="container min-vh-100">
            <div class="col-sm-12 mb-5">
                <h3 class="custom-header mb-4">Бараа Зарлага</h3>

                <div class="table-responsive-sm">
                    <table id="example" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="bg-grad">ID</th>
                                <th scope="col" class="bg-grad">Төлөв</th>
                                <th scope="col" class="bg-grad">Хүргэсэн огноо</th>
                                <th scope="col" class="bg-grad">Хаяг</th>
                                <th scope="col" class="bg-grad">Утас</th>
                                <th scope="col" class="bg-grad">Бараа/Тоо ширхэг</th>
                                <th scope="col" class="bg-grad">Дүн</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td scope="row">
                                        <p class="fw-bold">{{ order.id }}</p>
                                    </td>
                                    <td>
                                        {% if order.status == "unassigned" %}
                                            <p class="text-danger fw-bold">хувиарлагдаагүй байна</p>
                                        {% elif order.status == "assigned" %}
                                            <p class="text-primary fw-bold">хувиарлагдсан</p>
                                        {% elif order.status == "started" %}
                                            <p class="text-info fw-bold">хүргэгдэхээр явж байна</p>
                                        {% elif order.status == "completed" %}
                                            <p class="text-success fw-bold">хүргэгдсэн</p>
                                        {% elif order.status == "cancelled" %}
                                            <p class="text-danger fw-bold">цуцлагдсан</p>
                                        {% elif order.status == "postphoned" %}
                                            <p class="text-info fw-bold">хойшлуулсан</p>
                                            <p>хойшлуулсан огноо:
                                                {{ order.postphoned_date }}</p>
                                            <p>Шалтгаан:
                                                {{ order.driver_comment }}</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.delivery_date.strftime('%Y-%m-%d') }}</td>
                                    <td style="max-width: 300px; word-wrap: break-word;">
                                        {% if order.addresses.city is not none %}
                                            {{ order.addresses.city }},
                                        {% endif %}

                                        {% if order.addresses.district is not none %}
                                            {{ order.addresses.district }},
                                        {% endif %}

                                        {% if order.addresses.khoroo is not none %}
                                            {{ order.addresses.khoroo }}-р хороо,
                                        {% endif %}

                                        {% if order.addresses.aimag is not none %}
                                            {{ order.addresses.aimag }},
                                        {% endif %}

                                        {{ order.addresses.address }}
                                    </td>
                                    <td>{{ order.addresses.phone }},
                                        {{ order.addresses.phone_more }}</td>
                                    <td>
                                        {% if order.order_type == "stored" %}
                                            {% for order_detail in order.delivery_details %}
                                                <p>
                                                    {{ order_detail.products.name }},
                                                    {{ order_detail.quantity }}
                                                    ширхэг,
                                                    ₮{{ (order_detail.products.price)  | round | int | numberFormat }}
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            {{ order.total_amount }}
                                        {% endif %}
                                    </td>
                                    <td style=" text-align: end;">
                                        ₮{{ order.total_amount  | round | int | numberFormat }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <div class="pagination d-flex justify-content-center align-content-center" id="pagination">
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    text: 'CSV файл татах',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">CSV файл татах</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                }, {
                    extend: 'print',
                    text: 'Хэвлэх',
                    text: '<a class="btn btn-outline-secondary m-2" style="float: left;">Хэвлэх</a>',
                    tag: 'span',
                    exportOptions: {
                        modifier: {
                            search: 'none'
                        }
                    }
                },
            ],
            "columnDefs": [
                {
                    "orderData": [0, 1]
                },
            ],
            pageLength: 10,
            lengthMenu: [
                50, 100, 200, 500
            ],
            "language": {
                "lengthMenu": "_MENU_ эгнээ харах",
                "zeroRecords": "Дата алга",
                "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                "infoEmpty": "",
                "sSearch": "Хайх",
                "paginate": {
                    "previous": "өмнөх",
                    "next": "дараа"
                }
            }
        });
    });
</script>
<!-- END ORDERS -->{% endblock main %}
