{% extends "layout.html" %}
{% block main %}
    <!-- Product Add -->
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="mt-2">
                        <h3 class="custom-header mb-4">Бараа Орлого</h3>
                        <div class="form-group">
                            {{ form.choose_type.label(class="form-control-label") }}
                            {% if form.choose_type.errors %}
                                {{ form.choose_type(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.choose_type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.choose_type(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-success") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END Product Add -->
{% endblock main %}