{% extends "layout.html" %}
{% block main %}
    <!-- ORDERS ADD -->
    <section>
        <div class="container min-vh-100">
            <div class="container">
                <h3 class="custom-header mb-4">Шинэ Хүргэлт</h3>
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div id="orderTypeSection" class="col" style="display: block;">
                            <section class="py-4 border mb-5 rounded-3 border-2">
                                <div class="container">
                                    <p style="font-size: 18px; color:black; font-weight: 500;">{{ form.order_type.label(class="form-control-label") }}</p>
                                    {% for subfield in form.order_type %}
                                        <p class="ms-3" style="font-size: 15px; color: black; font-weight: 400;">{{ subfield(class="form-check-input", onclick="checkDestination()") }}
                                            {{ subfield.label }}</p>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>

                        <div id="deliveryAddSection">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="Infos">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="bg-grad">Хүргэлт</th>
                                                <th scope="col" class="bg-grad"></th>
                                                <th scope="col" class="bg-grad"></th>
                                                <th scope="col" class="bg-grad"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="main">
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        {{ form.phone.label(class="form-control-label") }}
                                                        {% if form.phone.errors %}
                                                            {{ form.phone(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.phone(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form.phone_more.label(class="form-control-label") }}
                                                        {% if form.phone_more.errors %}
                                                            {{ form.phone_more(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone_more.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.phone_more(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                </td>

                                                <td>
                                                    <div id="local">
                                                        {{ form.district.label(class="form-control-label") }}
                                                        {% if form.district.errors %}
                                                            {{ form.district(class="form-control is-invalid m-0") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.district.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.district(class="form-control") }}
                                                        {% endif %}
        
                                                        {{ form.khoroo.label(class="form-control-label") }}
                                                        {% if form.khoroo.errors %}
                                                            {{ form.khoroo(class="form-control is-invalid m-0") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.khoroo.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.khoroo(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                    <div id="long" style="display: none;">
                                                        {{ form.aimag.label(class="form-control-label") }}
                                                        {% if form.aimag.errors %}
                                                            {{ form.aimag(class="form-control is-invalid m-0") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.aimag.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.aimag(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        {{ form.address.label(class="form-control-label") }}
                                                        {% if form.address.errors %}
                                                            {{ form.address(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.address.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.address(class="form-control", style="min-height: 105px;") }}
                                                        {% endif %}
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        {{ form.total_amount.label(class="form-control-label") }}
                                                        {% if form.total_amount.errors %}
                                                            {{ form.total_amount(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.total_amount.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.total_amount(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="productAddSection">
                            <div class="row">
                                <div class="col">
                                    <span class="selector-container" style="position:relative;">
                                        <select class="searchBar form-control" id="product" style="width: 100%;"></select>
                                    </span>
                                </div>
                                <div class="col-md-auto">
                                    <input autocomplete="off" step="0" class="form-control" name="quantityInput" id="quantityInput" placeholder="Тоо ширхэг" type="number" style="width: 200px;"></div>
                                    <div class="col-md-auto">
                                        <a id="add-product" class="btn btn-outline-info" onclick="addProduct();">Нэмэх</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" id="lines" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th class="bg-grad" style="font-size: 14px;">Бараа</th>
                                            <th class="bg-grad" style="font-size: 14px;">Тоо ширхэг</th>
                                            <th class="bg-grad">Хасах</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div id="submitButton" class="form-group pt-5 pb-5">
                            {{ form.submit(class="btn btn-outline-success") }}
                        </div>
                    </div>
                </form>
                {% if last_five_orders.count() > 0 %}
                <hr>
                <section>
                    <div class="container min-vh-100">
                        <div class="col-sm-12 mb-5">
                            <h3 class="custom-header mb-4">Сүүлд нэмсэн 5 хүргэлт</h3>
                            <div class="table-responsive-sm">
                                <table id="example" class="table table-hover">
                                    <tbody>
                                        {% for order in last_five_orders|sort(attribute='id', reverse=True) %}
                                            <tr>
                                                <td style="max-width: 300px; word-wrap: break-word;">
                                                    {% if order.is_manager_created %}
                                                        <p class="fw-bold text-success">*** СҮН СҮН агуулахаас ***</p>
                                                    {% endif %}
                                                    <p>
                                                        {% if order.addresses.city is not none %}
                                                            {{ order.addresses.city }},
                                                        {% endif %}
            
                                                        {% if order.addresses.district is not none %}
                                                            {{ order.addresses.district }},
                                                        {% endif %}
            
                                                        {% if order.addresses.khoroo is not none %}
                                                            {{ order.addresses.khoroo }}-р хороо,
                                                        {% endif %}
            
                                                        {% if order.addresses.aimag is not none %}
                                                            {{ order.addresses.aimag }},
                                                        {% endif %}
            
                                                        {{ order.addresses.address }}</p>
                                                    <p>{{ order.addresses.phone }}
                                                        {% if order.addresses.phone_more is not none %},
                                                            {{ order.addresses.phone_more }}
                                                        {% endif %}
                                                    </p>
                                                </td>
                                                <td>
                                                    {% if order.order_type == "stored" %}
                                                        {% for order_detail in order.delivery_details %}
                                                            <p>
                                                                {{ order_detail.products.name }},
                                                                {{ order_detail.quantity }}
                                                                ширхэг,
                                                                ₮{{ (order_detail.products.price)  | round | int | numberFormat }}
                                                            </p>
                                                        {% endfor %}
                                                    {% else %}
                                                        {{ order.total_amount }}
                                                    {% endif %}
                                                </td>
                                                <td style=" text-align: end;">
                                                    <span class="m-2">₮{{ order.total_amount  | round | int | numberFormat }}</span>
                                                    {% if order.status == "unassigned" %}
                                                        {% if order.is_postphoned %}
                                                            {% else %}
                                                                {% if order.is_manager_created %}
                                                                    
                                                                {% else %}
                                                                    <a class="btn btn-outline-danger" href="{{ url_for('supplier1_order.supplier1_order_delete', order_id=order.id) }}">Устгах</a>
                                                                {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- END ORDERS ADD -->
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script>
        var parentElement = $(".selector-container");
        $(".searchBar").select2({
            dropdownParent: parentElement,
            placeholder: 'Бараа хайх',
            minimumInputLength: 2,
            width: 'resolve',
            ajax: {
                headers: {
                    'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')
                },
                url: "/supplier1/orders/search/products",
                dataType: 'json',
                delay: 250,
                type: "POST",
                data: function (term) {
                    return {term: term.term};
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                id: item.id,
                                text: item.name + ' ' + '(' + item.color + ',' + ' ' + item.size + ',' + ' ' + item.quantity + 'ш' + ',' + ' ' + item.price + '₮' + ')',
                                price: item.price
                            }
                        })
                    };
                }
            }
        });
    </script>
    <script>
        function addProduct() {
            document.getElementById('lines').style.display = 'table';

            var supplier_id = $('#suppliers').find(":selected").val();
            var supplier_name = $('#suppliers').find(":selected").text();
            var product_id = $('#product').find(":selected").val();
            var product_name = $('#product').find(":selected").text();
            var quantity = document.getElementById("quantityInput").value;

            if (supplier_name == 'Харилцагч сонгох') {
                alert('Харилцагч сонгоно уу!')
                return false;
            }

            if (quantity == null || quantity == "") {
                alert('Барааны тоо ширхэг оруулна уу!')
                return false;
            }

            if (parseInt((product_name.split(",")[2].slice(0, -1)))<=0 || parseInt((product_name.split(",")[2].slice(0, -1)))<parseInt(quantity)) {
                alert('Агуулахын үлдэгдэл хүрэлцэхгүй байна!')
                return false;
            }

            if (product_id == null) {
                alert('Нэмэх бараа эхлээд сонгоно уу!')
            } else {
                $('#lines').find('tbody').append($('#tr-placeholder tr:first').clone());
                $('#lines').find('tbody tr:last input[name="supplier"]').val(supplier_id);
                $('#lines').find('tbody tr:last p[data-name="supplier_name"]').text(supplier_name);
                $('#lines').find('tbody tr:last input[name="product"]').val(product_id);
                $('#lines').find('tbody tr:last p[data-name="product_name"]').text(product_name);
                $('#lines').find('tbody tr:last input[name="quantity"]').val(quantity);
                $('#lines').find('tbody tr:last p[data-name="quantity_name"]').text(quantity);
            }
        }
    </script>
    <script>
        function checkDestination() {
            order_type = document.getElementById('order_type-0');

            if (order_type.checked) {
                document.getElementById('local').style.display = 'block';
                document.getElementById('long').style.display = 'none';
            } else {
                document.getElementById('local').style.display = 'none';
                document.getElementById('long').style.display = 'block';
            }
        }
    </script>
    <script>
        $('#submit').click(function () {
            var districtValue = document.getElementById("district").value
            var khorooValue = document.getElementById("khoroo").value
            var aimagValue = document.getElementById("aimag").value
            
            order_type = document.getElementById('order_type-0');

            if ($('#lines tbody tr').length == 0) {
                alert("Бараа оруулаагүй байна!")
                return false;
            }

            if (order_type.checked) {
                // local
                if (districtValue == "Дүүрэг сонгох" || khorooValue == "Хороо сонгох") {
                    alert("Дүүрэг, хороо сонгоогүй байна! Сонголтоо хийгээд үргэлжлүүлнэ үү!")
                    return false;
                } else {
                    return true;
                }

            } else {
                // long
                if (aimagValue == "Аймаг сонгох") {
                    alert("Аймаг сонгоогүй байна! Сонголтоо хийгээд үргэлжлүүлнэ үү!")
                    return false;
                } else {
                    return true;
                }
            }
        });
    </script>
    <table style="display: none;">
        <tbody id="tr-placeholder">
            <tr>
                <td>
                    <input type="hidden" name="product" class="form-control" required>
                    <p data-name="product_name" style="font-size: 15px;"></p>
                </td>
                <td>
                    <input type="hidden" name="quantity" class="form-control" required>
                    <p data-name="quantity_name" style="font-size: 15px;"></p>
                </td>
                <td>
                    <button type="button" class="btn p-0 m-0" onclick="$(this).parent().parent().remove();"><i class="bi bi-x-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock main %}
