{% extends "layout.html" %}
{% block main %}
<!-- ORDERS ADD -->
<section>
    <div class="container">
        <div class="row">
            <form id="form" method="POST" action="">
                {{ form.csrf_token }}
                <!-- Tab default -->
				<div class="col-sm-12 col-md-12">
					<h3 class="custom-header mb-4">Шинэ Хүргэлт Оруулах</h3>
					<ul class="nav nav-tabs">
						<li class="nav-item"> <a class="nav-link" href="{{ url_for('supplier1_order.supplier1_order_add', destination='local') }}"> Улаанбаатар </a> </li>
						<li class="nav-item"> <a class="nav-link active" href="{{ url_for('supplier1_order.supplier1_order_add', destination='long') }}"> Орон нутаг</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('supplier1_order.supplier1_order_add', destination='file') }}"> Файлаар(Excel)</a> </li>
					</ul>

                    {% if order_window %}
                        <div class="p-5 mt-5 mb-5 rounded" style="background-color: rgb(255, 48, 48);">
                            <h3 style="color: white; ">Өдрийн 12 цагаас хойш оруулсан ажлууд автоматаар маргаашийн хүргэлтэнд орохыг анхаарна уу!</h3>
                        </div>
                    {% else %}
                        
                    {% endif %}

                    <div class="mt-5">
                        <span style="font-size: 16px; color: black; padding-right: 1rem;">Өнөөдрийн захиалгын тоо: <strong>{{ todays_order_count }}</strong></span>
                    </div>

					<div class="tab-content">
						<div class="tab-pane show active" id="tab-1-2">
							<div class="col-sm-12 mb-5">
                                <div class="table-responsive-sm">
                                    <table class="table table-hover" id="Infos">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="bg-grad">Хүргэлт</th>
                                                <th scope="col" class="bg-grad"></th>
                                                <th scope="col" class="bg-grad"></th>
                                                <th scope="col" class="bg-grad"></th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            {{ form.phone.label(class="form-control-label") }}
                                                            {% if form.phone.errors %}
                                                            {{ form.phone(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone.errors %}
                                                                <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                            {{ form.phone(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form.phone_more.label(class="form-control-label") }}
                                                            {% if form.phone_more.errors %}
                                                            {{ form.phone_more(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone_more.errors %}
                                                                <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                            {{ form.phone_more(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
            
                                                    <td>
                                                        {{ form.aimag.label(class="form-control-label") }}
                                                        {{ form.aimag(class="form-control")}}
                                                    </td>
            
                                                    <td>
                                                        <div class="form-group">
                                                            {{ form.address.label(class="form-control-label") }}
                                                            {% if form.address.errors %}
                                                                {{ form.address(class="form-control is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.address.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ form.address(class="form-control", style="min-height: 105px;") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            {{ form.total_amount.label(class="form-control-label") }}
                                                            {% if form.total_amount.errors %}
                                                            {{ form.total_amount(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.total_amount.errors %}
                                                                <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                            {{ form.total_amount(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                    <table class="table table-hover" id="lines">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="bg-grad">Бараа</th>
                                                <th scope="col" class="bg-grad">Тоо ширхэг</th>
                                                <th scope="col" class="bg-grad"></th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            {{ form.products(class="form-control") }}
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <div class="form-group">
                                                            {% if form.quantity.errors %}
                                                                {{ form.quantity(class="form-control is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.quantity.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ form.quantity(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td role="cell">
                                                        <button type="button" class="btn" onclick="if ($('#lines tbody tr').length > 1) { $(this).parent().parent().remove(); }"><i class="bi bi-x-circle"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="float-right">
                                <button type="button" class="btn btn-sm btn-info" onclick="$('#lines').find('tbody').append($('#lines').find('tbody tr:first').clone());">Бараа нэмэх</button>
                            </div>
                            <br>
                            <br>
                            <div class="form-group float-end">
                                {{ form.submit(class="btn btn-outline-success") }}
                            </div>
						</div>
					</div>
				</div>
            </form>
        </div>
    </div>
</section>
<!-- END ORDERS ADD -->
{% endblock main %}