{% extends "layout.html" %}
{% block main %}
<!-- ORDERS ADD -->
<section>
    <div class="container">
        <div class="row">
            <form id="form" method="POST" action="">
                {{ form.csrf_token }}
                <!-- Tab default -->
				<div class="col-sm-12 col-md-12">
					<h3 class="custom-header mb-4">Хүргэлт Засах</h3>
					<div class="tab-content">
						<div class="tab-pane show active" id="tab-1-1">
							<div class="col-sm-12 mb-5">
                                <div class="table-responsive-sm">
                                    <table class="table table-hover" id="Infos">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="bg-grad">Утасны дугаар</th>
                                                <th scope="col" class="bg-grad">Дүүрэг/орон нутаг</th>
                                                <th scope="col" class="bg-grad">Хаяг</th>
                                                <th scope="col" class="bg-grad">Төлбөр</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            {% if form.phone.errors %}
                                                            {{ form.phone(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone.errors %}
                                                                <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                            {{ form.phone(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            {% if form.phone_more.errors %}
                                                            {{ form.phone_more(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.phone_more.errors %}
                                                                <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            {% else %}
                                                            {{ form.phone_more(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
            
                                                    <td>
                                                        {{ form.district(class="form-control")}}
                                                        {{ form.khoroo(class="form-control")}}
                                                    </td>
            
                                                    <td>
                                                        <div class="form-group">
                                                            {% if form.address.errors %}
                                                                {{ form.address(class="form-control is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.address.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ form.address(class="form-control", style="min-height: 105px;") }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{ form.payment_type(class="form-control")}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                    </table>
                                    <table class="table table-hover" id="lines">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="bg-grad">Бараа</th>
                                                <th scope="col" class="bg-grad">Тоо ширхэг</th>
                                                <th scope="col" class="bg-grad"></th>
                                            </tr>
                                        </thead>
                                    {% for order_d in order_to_edit.order_details %}
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        {{ form.products(class="form-control") }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        {% if form.quantity.errors %}
                                                            {{ form.quantity(class="form-control is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.quantity.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.quantity(class="form-control") }}
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
						</div>
					</div>
				</div>
                <div class="form-group float-end">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
        </div>
    </div>
</section>
<!-- END ORDERS ADD -->
{% endblock main %}