{% extends "layout.html" %}
{% block main %}
    <!-- Products -->
    <section>
        <div class="container">
            <div class="row">
                <form id="form" method="POST" action="">
                    {{ form.csrf_token }}
                    <div class="col-sm-12 mb-5">
                        <h3 class="custom-header mb-4">Жолооч Авах Бараа</h3>
                        <div class="table-responsive-sm">
                            <table id="example" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-grad">#</th>
                                        <th scope="col" class="bg-grad">Хүлээлгэж Өгөх Бараа</th>
                                        <th scope="col" class="bg-grad">Төлөв</th>
                                        <th scope="col" class="bg-grad">Авах Жолоочийн нэр</th>
                                        <th scope="col" class="bg-grad"></th>
                                        <th scope="col" class="bg-grad"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pickup in pickups %}
                                        <tr>
                                            <td scope="row">{{ loop.index }}. {{ form.pickup_id(class="form-control", value=pickup.id) }}</td>
                                            <td>
                                                {% for pickup_detail in pickup.pickup_details %}
                                                    <p>{{ pickup_detail.product.name }},
                                                        {{ pickup_detail.product.colors | first }},
                                                        {{ pickup_detail.product.sizes | first }}
                                                        -
                                                        {{ pickup_detail.quantity }}
                                                        ширхэг.</p>
                                                {% endfor %}
                                            </td>
                                            <td style="text-align: end;">
                                                {% if pickup.status == "waiting" %}
                                                    <p class="text-danger fw-bold">Авах жолооч хувиарлахыг хүлээж байна.</p>
                                                {% elif pickup.status == "enroute" %}
                                                    <p class="text-info fw-bold">Жолооч очиж авна.</p>
                                                {% elif pickup.status == "pickedup" or pickup.status == "completed" %}
                                                    <p class="text-success fw-bold">Сүнсүн хүлээж авсан.</p>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: end;">
                                                {% if pickup.driver_name %}
                                                    <p class="text-success fw-bold">{{ pickup.driver_name }}</p>
                                                {% else %}
                                                    <p class="text-danger fw-bold">Хувиарлагдаагүй байна</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if pickup.pickup_date is not none %}
                                                    Авсан огноо:
                                                    {{ pickup.pickup_date }}
                                                {% endif %}
                                                {% if pickup.status == "waiting" or pickup.status == "enroute" %}
                                                    <a class="btn btn-outline-danger" href="{{ url_for('supplier1_inventory.supplier1_inventory_pickup_remove', task_id=pickup.id) }}">Устгах</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if pickup.status == "enroute" %}
                                                    <div class="form-group">
                                                        {{ form.submit(class="btn btn-outline-success") }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination d-flex justify-content-center align-content-center" id="pagination">
                                {{ pagination.links }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END Products -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'CSV файл татах',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }, {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                "columnDefs": [
                    {
                        "orderData": [0, 1]
                    },
                ],
                pageLength: 10,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }
                }
            });
        });
    </script>
{% endblock main %}
