{% extends "layout.html" %}
{% block main %}
    <!-- Product Add -->
    <section>
        <div class="container">
            <div class="row">
                <form id="form" method="POST" action="" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="col-sm-12 mb-5">
                        <h3 class="custom-header mb-4">Агуулахад Бараа Бүртгүүлэх</h3>
                        <div class="table-responsive-sm">
                            <table class="table table-hover" id="lines">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-grad">Нэр</th>
                                        <th scope="col" class="bg-grad">Өнгө</th>
                                        <th scope="col" class="bg-grad">Хэмжээ</th>
                                        <th scope="col" class="bg-grad">Үнэ</th>
                                        <th scope="col" class="bg-grad">Бусад</th>
                                        <th scope="col" class="bg-grad">Хэрэглэх заавар</th>
                                        <th scope="col" class="bg-grad"></th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    {% if form.name.errors %}
                                                    {{ form.name(class="form-control is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.name.errors %}
                                                        <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    {{ form.name(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                                <div class="form-group p-0 m-0" style="width: 200px">
                                                    {{ form.image.label(class="form-control-label") }}
                                                    {{ form.image(class="form-control-file") }}
                                                    {% if form.image.errors %}
                                                        {% for error in form.image.errors %}
                                                            <span class="text-danger">{{ error }}</span></br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </td>

                                            <td>
                                                {{ form.color(class="form-control")}}
                                            </td>

                                            <td>
                                                {{ form.size(class="form-control")}}
                                            </td>

                                            <td>
                                                <div class="form-group">
                                                    {% if form.price.errors %}
                                                        {{ form.price(class="form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.price.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.price(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div class="form-group">
                                                    {% if form.description.errors %}
                                                        {{ form.description(class="form-control is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.description.errors %}
                                                                <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.description(class="form-control") }}
                                                    {% endif %}
                                                </div>
                                            </td>

                                            <td>
                                                {% if form.usage_guide.errors %}
                                                    {{ form.usage_guide(class="form-control is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.usage_guide.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.usage_guide(class="form-control") }}
                                                {% endif %}
                                            </td>
                                            <td role="cell">
                                                <button type="button" class="btn" onclick="if ($('#lines tbody tr').length > 1) { $(this).parent().parent().remove(); }"><i class="bi bi-x-circle"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        <div>
                            <button type="button" class="btn btn-sm btn-info" onclick="$('#lines').find('tbody').append($('#lines').find('tbody tr:first').clone());">Барааны төрөл нэмэх</button>
                        </div>
                    </div>
                    <div class="form-group float-end">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END Product Add -->
{% endblock main %}
