<!-- =======================
	footer  -->
<footer class="footer bg-light pt-6">
    <div class="footer-content pb-3">
        <div class="container">
            <div
                class="row">
                <!-- Footer widget 1 -->
                <div class="col-md-4">
                    <div class="widget">
                        <a
                            href="index.html" class="footer-logo">
                            <!-- footer logo Start -->
                            <img
                            class="footer-logo-item" src="{{ url_for('static', filename='images/logo.svg')}}" alt="">
                        <!-- footer logo End -->
                        </a>
                        <p class="mt-3">СҮН СҮН товч тайлбар.</p>
                    </div>
                </div>
                <!-- Footer widget 2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget address">
                        <ul class="list-group list-group-borderless">
                            <li class="d-flex mb-3">
                                <i class="me-3 display-8 ti-map-alt"></i>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548.
                            </li>
                            <li class="d-flex mb-3">
                                <i class="me-3 display-8 ti-headphone-alt"></i>
                                (251) 854-6308
                            </li>
                            <li class="d-flex mb-3">
                                <i class="me-3 display-8 ti-email"></i>
                                help@wizixo.com</li>
                            <li class="d-flex mb-3">
                                <i class="me-3 display-8 ti-time"></i>
                                <p>Даваа - Баасан:
                                    <strong>09:00 - 18:00</strong>
                                    <br>Хагас & Бүтэн сайнд:
                                    <strong>09:00 - 17:00</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer widget 3 -->
                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h6>Quick Links</h6>
                        <ul class="nav flex-column primary-hover">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Бидний тухай</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Холбоо барих</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Үндсэн</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ажлын байр</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer widget 4 -->
                <div class="col-md-3">
                    <div class="widget bg-grad p-4 all-text-white rounded">
                        <i class="ti-email newsletter-icon"></i>
                        <p class="mb-2">Subscribe to our newsletter to receive exclusive offers.</p>
                        <div class="form-group mb-0">
                            <input class="form-control border-white mb-3" type="email" placeholder="Enter email...">
                            <button class="btn btn-dark mb-0">Join us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider mt-3"></div>
    <!--footer copyright -->
    <div class="footer-copyright py-3">
        <div class="container">
            <div
                class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-start">
                <!-- copyright text -->
                <div class="copyright-text">
                    <a href="#!">СҮН СҮН</a> © 2022 Бүх эрх хуулиар хамгаалагдсан.
                </div>
                <!-- copyright links-->
                <div class="copyright-links primary-hover mt-3 mt-md-0">
                    <ul class="list-inline">
                        <li class="list-inline-item ps-2">
                            <a class="list-group-item-action" href="#">Хэрэглэх журам</a>
                        </li>
                        <li class="list-inline-item ps-2">
                            <a class="list-group-item-action pe-0" href="#">Үйлчилгээний нөхцөл</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- =======================
	footer  -->
