<!-- =======================
	header Start-->
<header class="header-static navbar-light">
    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <!-- navbar top Left-->
                <div class="d-flex align-items-center">
                    <!-- Top info -->
                    <ul class="nav list-unstyled ms-3">
                        <li class="nav-item me-3">
                            <a class="navbar-link" href="#"><strong>Утас: </strong>75777222</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="navbar-link" href="#"><strong>И-мэйл: </strong>sunsunexpressic@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <!-- navbar top Right-->
                <div class="d-flex align-items-center">
                    <!-- top link -->
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="navbar-link mx-3" href="#">Холбоо барих</a>
                        </li>
                    </ul>
                    <!-- top social -->
                    <ul class="social-icons">
                        <li class="social-icons-item social-facebook m-0">
                            <a class="social-icons-link w-auto px-2" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-item social-instagram m-0">
                            <a class="social-icons-link w-auto px-2" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-icons-item social-twitter m-0">
                            <a class="social-icons-link w-auto ps-2" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('main.home')}}">
                <!-- Logo -->
                <img class="navbar-brand-item" src="{{ url_for('static', filename='logos/logo_main.svg')}}" alt="Logo">
            </a>
            <!-- Menu opener button -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll ms-auto">
                    {% if current_user.is_authenticated %}
                        {% if current_user.has_role('supplier1') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Хүргэлт</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu">
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('supplier1_order.supplier1_orders') }}">Хүргэлт</a>
                                            <a class="dropdown-item" href="{{ url_for('supplier1_order.supplier1_order_add') }}">Шинэ Хүргэлт үүсгэх</a>
                                        </ul>
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('supplier1_stats.supplier1_balance')}}">Тооцоо</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бараа</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_inventory.supplier1_inventory_add') }}">Бараа орлого</a> </li>
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_expense.supplier1_expenses') }}">Бараа зарлага</a> </li>
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_inventory.supplier1_inventory_pickups') }}">Бараа Жолоочид Хүлээлгэж Өгөх</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Агуулах</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_inventory.supplier1_inventories') }}">Агуулах үлдэгдэл</a> </li>
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_product.supplier1_products') }}">Агуулахад бүртгүүлтэй бараа</a> </li>
                                            <li> <a class="dropdown-item" href="{{ url_for('supplier1_product.supplier1_product_add') }}">Агуулахад бараа бүртгүүлэх</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('supplier1_profile.profile') }}">Данс</a>
                            </li>
                        {% elif current_user.has_role('supplier2') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Хүргэлт</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu">
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('supplier2_order.supplier2_orders')}}">Хүргэлт</a>
                                            <a class="dropdown-item" href="{{ url_for('supplier2_order.supplier2_order_add')}}">Шинэ Хүргэлт Үүсгэх</a>
                                        </ul>
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('supplier2_stats.supplier2_balance')}}">Тооцоо</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бэлэн Хүргэлт</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('supplier2_order.supplier2_orders_ready')}}">Захиалга Жолоочид Хүлээлгэж Өгөх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('supplier2_return.supplier2_returns') }}">Буцаагдсан Захиалга</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('supplier2_profile.profile') }}">Данс</a>
                            </li>
                        {% elif current_user.has_role('manager')%}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Хүргэлт</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_orders')}}">Хүргэлт</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_order_assign_region')}}">Хувиарлах</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_commented_orders')}}">Төлөв, Коммент</a>
                                        </ul>
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_order_add')}}">Хүргэлт Үүсгэх</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_unassign_orders')}}">Хувиарлалт Буцаах</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бараа</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_pickup.manager_pickups')}}">Таталт</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_pickup.manager_pickups_history')}}">Таталтын түүх</a>
                                        </ul>
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_dropoff.manager_dropoffs')}}">Буцаалт</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_dropoff.manager_dropoffs_history')}}">Буцаалтын түүх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Жолооч</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_orders_drivers')}}">Хүргэлтийн эрэмбэ харах</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_order.manager_orders_drivers_histories')}}">Хүргэлтийн түүх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Статистик</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_analytics.manager_orders_stats')}}">Нийт</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_analytics.manager_drivers_stats')}}">Жолооч</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_analytics.manager_suppliers_stats')}}">Харилцагч</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бусад</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_product.manager_product_add_color')}}">Өнгө нэмэх</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_product.manager_product_add_size')}}">Хэмжээ нэмэх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Данс</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_account.manager_accounts')}}">Данснууд</a>
                                            <a class="dropdown-item" href="{{ url_for('manager_account.manager_add_account')}}">Шинэ данс</a>
                                        </ul>
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('manager_profile.profile')}}">Хэрэглэгчийн Данс</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('manager_search.search')}}"><i class="fas fa-search fs-6 "></i> Хайх</a>
                            </li>
                        {% elif current_user.has_role('driver')%}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('driver_job.driver_jobs')}}">Хүргэлтүүд</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('driver_job.driver_jobs_history')}}">Хүргэлтийн түүх</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('driver_profile.profile') }}">Данс</a>
                            </li>
                        {% elif current_user.has_role('accountant')%}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Харилцагч</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('accountant_supplier_calculation.accountant_supplier_calculations')}}">Харилцагч Тооцоо</a>
                                            <a class="dropdown-item" href="{{ url_for('accountant_supplier_calculation.accountant_supplier_calculations_history')}}">Харилцагч Тооцооны түүх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Тооцоо</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('accountant_driver_payment.accountant_driver_payments')}}">Тооцоо Хийх</a>
                                            <a class="dropdown-item" href="{{ url_for('accountant_payment_history.accountant_payment_histories')}}">Тооцооны түүх</a>
                                            <a class="dropdown-item" href="{{ url_for('accountant_payment_history.accountant_payment_histories_two_week')}}">Тооцооны түүх(2 долоо хоног)</a>
                                            <a class="dropdown-item" href="{{ url_for('accountant_driver_salary.accountant_driver_salary')}}">Цалин</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('accountant_profile.profile') }}">Данс</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('accountant_search.search')}}"><i class="fas fa-search fs-6 "></i> Хайх</a>
                            </li>
                        {% elif current_user.has_role('clerk')%}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Бараа хүлээж авах</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('clerk_receive.clerk_receive_pickup_inventories')}}">Жолоочоос Хүлээж авах</a>
                                            <a class="dropdown-item" href="{{ url_for('clerk_receive.clerk_receive_dropoff_inventories')}}">Харилцагчаас Хүлээж авах</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Хүлээлгэж өгөх</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('clerk_expense.clerk_driver_orders')}}">Бараа хүлээлгэж өгөх</a>
                                            <a class="dropdown-item" href="{{ url_for('clerk_expense.clerk_manager_orders')}}">Агуулахаас хүлээлгэж өгөх</a>
                                            <a class="dropdown-item" href="{{ url_for('clerk_expense.clerk_driver_orders_history')}}">Түүх</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Буцааж авах</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('clerk_returns.clerk_driver_returns')}}">Бараа буцааж авах</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Агуулах</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('clerk_inventory.clerk_inventories') }}">Агуулахтай Харилцагч</a>
                                            <a class="dropdown-item" href="{{ url_for('clerk_inventory.clerk_inventories_supplier2') }}">Агуулахгүй Харилцагч</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('clerk_profile.profile') }}">Данс</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('clerk_search.search')}}"><i class="fas fa-search fs-6 "></i> Хайх</a>
                            </li>
                        {% elif current_user.has_role('admin')%}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Хүргэлт</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('admin_order.admin_orders')}}">Өнөөдрийн Хүргэлтүүд</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Стат</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('admin_stats.admin_orders_stats')}}">Нийт</a>
                                            <a class="dropdown-item" href="{{ url_for('admin_stats.admin_drivers_stats')}}">Жолооч</a>
                                            <a class="dropdown-item" href="{{ url_for('admin_stats.admin_suppliers_stats')}}">Харилцагч</a>
                                            <a class="dropdown-item" href="{{ url_for('admin_stats.admin_revenue')}}">Орлого</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Тооцоо</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('admin_supplier_balance.admin_supplier_balances')}}">Тооцоо</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Данс</a>
                                <div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
                                    <div class="d-block d-sm-flex">
                                        <ul class="list-unstyled w-100 w-sm-50 pe-0 pe-lg-5">
                                            <a class="dropdown-item" href="{{ url_for('admin_account.accounts')}}">Дансууд</a>
                                            <a class="dropdown-item" href="{{ url_for('admin_account.admin_add_account')}}">Данс нээх</a>
                                            <a class="dropdown-item" href="{{ url_for('admin_profile.profile')}}">Хэрэглэгчийн данс</a>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin_search.search')}}"><i class="fas fa-search fs-6 "></i> Хайх</a>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.signout')}}"><i class="fas fa-sign-out fs-6 "></i> Гарах</a>
                            </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Бидний тухай</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Үйл ажиллагаа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.signin') }}"><i class="fa-solid fa-right-to-bracket"></i> Нэвтрэх</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Main Menu End -->
        </div>
    </nav>
    <!-- Logo Nav End -->
</header>
<!-- =======================
	header End-->
