{% extends "layout.html" %}
{% block main %}
    <!-- Products -->
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">Жилйин хүргэлт сараар</h3>
                    <div class="container">
                        <div
                            class="col-12">
                            <!-- Chart START -->
                            <div
                                class="card border h-100">
                                <!-- Card header -->
                                <div class="card-header p-3 border-bottom">
                                    <h5 class="card-header-title mb-0">{{ selected_year }}</h5>
                                </div>

                                <!-- Card body -->
                                <div
                                    class="card-body">
                                    <!-- Apex chart -->
                                    <div id="apexChartTrafficStats" class="mt-2"></div>
                                </div>
                            </div>
                            <!-- Chart END -->
                        </div>
                    </div>

                    <h3 class="custom-header mb-4 mt-5">Жилийн хүргэлт сараар хувь</h3>
                    <div class="container">
                        <div
                            class="col-12">
                            <!-- Chart START -->
                            <div
                                class="card border h-100">
                                <!-- Card header -->
                                <div class="card-header p-3 border-bottom">
                                    <h5 class="card-header-title mb-0">{{ selected_year }}</h5>
                                </div>

                                <!-- Card body -->
                                <div
                                    class="card-body">
                                    <!-- Apex chart -->
                                    <div id="percentageRates" class="mt-2"></div>
                                </div>
                            </div>
                            <!-- Chart END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Products -->
    <script src="{{ url_for('static', filename='vendor/apexcharts/js/apexcharts.min.js') }}"></script>
    <script>
        var data1 = JSON.parse('{{ data1 | tojson | safe }}');
        var data2 = JSON.parse('{{ data2 | tojson | safe }}');
        var data3 = JSON.parse('{{ data3 | tojson | safe }}');
        var data4 = JSON.parse('{{ data4 | tojson | safe }}')
        var options = {
            series: [
                {
                    name: 'Хүргэсэн',
                    data: data1
                }, {
                    name: 'Цуцалсан',
                    data: data2
                }, {
                    name: 'Хойшлуулсан',
                    data: data3
                }
            ],
            chart: {
                type: 'bar',
                height: 350,
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                }
            },
            dataLabels: {
                enabled: true,
            },
            colors:['#41ba00', '#e60202', '#0385ff'],
            stroke: {
                show: true,
                width: 0,
                colors: ['transparent']
            },
            xaxis: {
                categories: data4
            },
            yaxis: {
                title: {
                    text: 'Хүргэлт'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#apexChartTrafficStats"), options);
        chart.render();
    </script>

<script>
    var data1 = JSON.parse('{{ completed_rate | tojson | safe }}');
    var data2 = JSON.parse('{{ cancelled_rate | tojson | safe }}');
    var data3 = JSON.parse('{{ postphoned_rate | tojson | safe }}');
    var data4 = JSON.parse('{{ data4 | tojson | safe }}');
    var options = {
        series: [
            {
                name: 'Хүргэлт хувь',
                data: data1
            }, {
                name: 'Цуцалсан хувь',
                data: data2
            }, {
                name: 'Хойшлуулсан хувь',
                data: data3
            }
        ],
        chart: {
            type: 'bar',
            height: 350,
            stacked: true,
            toolbar: {
                show: true
            },
            zoom: {
                enabled: true
            }
        },
        colors: [
            '#41ba00', '#e60202', '#0385ff'
        ],
        responsive: [
            {
                breakpoint: 480,
                options: {
                    legend: {
                        position: 'bottom',
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }
        ],
        plotOptions: {
            bar: {
                horizontal: false,
                borderRadius: 10,
                dataLabels: {
                    total: {
                        enabled: true,
                        style: {
                            fontSize: '13px',
                            fontWeight: 900
                        }
                    }
                }
            }
        },
        xaxis: {
            categories: data4
        },
        yaxis: {
            title: {
                text: 'Хүргэлтийн хувь'
            }
        },
        legend: {
            position: 'right',
            offsetY: 40
        },
        fill: {
            opacity: 1
        }
    };

    var chart = new ApexCharts(document.querySelector("#percentageRates"), options);
    chart.render();
</script>
{% endblock main %}
