{% extends "layout.html" %}
{% block main %}
    <!-- Products -->
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">Захиалга статистик</h3>
                    <div class="container">
                        <div
                            class="col-12">
                            <!-- Chart START -->
                            <div
                                class="card border h-100">
                                <!-- Card header -->
                                <div class="card-header p-3 border-bottom">
                                    <h5 class="card-header-title mb-0">Энэ жил</h5>
                                </div>

                                <!-- Card body -->
                                <div
                                    class="card-body">
                                    <!-- Apex chart -->
                                    <div id="apexChartTrafficStats" class="mt-2"></div>
                                </div>
                            </div>
                            <!-- Chart END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Products -->

    <script src="{{ url_for('static', filename='vendor/apexcharts/js/apexcharts.min.js') }}"></script>
    <script>
        var data1 = JSON.parse('{{ data1 | tojson | safe }}');
        var data2 = JSON.parse('{{ data2 | tojson | safe }}');
        var options = {
            series: [
                {
                    name: 'Хүргэлт',
                    data: data1
                }, {
                    name: 'Цуцлалт',
                    data: data2
                }
            ],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                }
            },
            dataLabels: {
                enabled: true,
            },
            colors:['#41ba00', '#e60202'],
            stroke: {
                show: true,
                width: 1,
                colors: ['transparent']
            },
            xaxis: {
                categories: [
                    '1 сард',
                    '2 сард',
                    '3 сард',
                    '4 сард',
                    '5 сард',
                    '6 сард',
                    '7 сард',
                    '8 сард',
                    '9 сард',
                    '10 сард',
                    '11 сард',
                    '12 сард'
                ]
            },
            yaxis: {
                title: {
                    text: 'Нийт захиалга'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#apexChartTrafficStats"), options);
        chart.render();
    </script>
{% endblock main %}
