{% extends "layout.html" %}
{% block main %}
    <section>
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-sm-12 mb-5">
                    <h3 class="custom-header mb-4">Өнөөдрийн бараа хүлээлгэж өгөх</h3>
                    <form id="form" method="POST" action="">
                        {{ form.csrf_token }}
                        <div class="row g-2">
                            <div class="col-md-3">
                                {{ form.drivers.label(class="form-control-label") }}
                                {% if form.drivers.errors %}
                                    {{ form.drivers(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.drivers.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.drivers(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3 align-self-center">
                                {{ form.submit(class="btn btn-outline-success m-0") }}
                            </div>
                        </div>
                    </form>
                    {% if orders|length > 0 %}
                        <form id="form" method="POST" action="">
                            {{ form1.csrf_token }}
                            <div class="table-responsive-sm">
                                <table id="example" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="bg-grad">ID</th>
                                            <th scope="col" class="bg-grad">Байгууллага</th>
                                            <th scope="col" class="bg-grad">Хаяг/Утас</th>
                                            <th scope="col" class="bg-grad">Бараа/Тоо ширхэг</th>
                                            <th scope="col" class="bg-grad">Бүс</th>
                                            <th scope="col" class="bg-grad">Жолооч</th>
                                            <th scope="col" class="bg-grad">Төлөв</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td class="fw-bold">{{ order.id }}{{ form.order_id(class="form-control", value=order.id) }}</td>
                                                <td style="text-align: center;" class="fw-bold">{{ order.supplier_company_name }}</td>
                                                <td>
                                                    {% if order.addresses.city is not none %}
                                                        {{ order.addresses.city }},
                                                    {% endif %}

                                                    {% if order.addresses.district is not none %}
                                                        {{ order.addresses.district }},
                                                    {% endif %}

                                                    {% if order.addresses.khoroo is not none %}
                                                        {{ order.addresses.khoroo }}-р хороо,
                                                    {% endif %}

                                                    {% if order.addresses.aimag is not none %}
                                                        {{ order.addresses.aimag }},
                                                    {% endif %}

                                                    <p>{{ order.addresses.address }},</p>
                                                    <p>{{ order.addresses.phone }},
                                                        {{ order.addresses.phone_more }}</p>
                                                </td>
                                                <td>
                                                    {% if order.order_type == "stored" %}
                                                        {% set odpt = namespace (order_payment_type = "") %}
                                                        {% for order_detail in order.delivery_details %}
                                                            <p>
                                                                {{ order_detail.products.name }},
                                                                {{ order_detail.quantity }}
                                                                ширхэг,
                                                                {% set odpt.order_payment_type = order_detail.payment_type %}
                                                                ₮{{ (order_detail.products.price*order_detail.quantity)  | round | int | numberFormat }}
                                                            </p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p class="text-center fw-bold">{{ order.delivery_details[0].phone }}</p>
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center;" class="fw-bold">
                                                    {% if order.delivery_region is none %}
                                                        Байхгүй
                                                    {% else %}
                                                        {{ order.delivery_region }}
                                                    {% endif %}
                                                </td>
                                                <td class="fw-bold">
                                                    {{ order.assigned_driver_name }}
                                                </td>
                                                <td>
                                                    {% if order.is_received_from_clerk %}
                                                        <p class="text-success fw-bold">Жолооч хүлээж авсан</p>
                                                        {% if order.is_driver_received %}
                                                            <p class="text-secondary fw-bold" >Нягтлан хүлээлгэж өгсөн({{ order.received_from_clerk_date }})</p>
                                                        {% endif %}
                                                        <p></p>
                                                    {% else %}
                                                        <p class="text-danger fw-bold">Нягтлан хүлээлгэж өгөөгүй</p>
                                                        {% if not order.is_driver_received %}
                                                            <p class="text-secondary fw-bold" >Жолооч хүлээж авах товчийг дараагүй байна!</p>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="float-end mt-5 mb-5">
                                    {{ form1.submit(class="btn btn-outline-success m-0") }}
                                </div>
                            </div>
                        </form>
                    {% else %}
                    <div class="mt-5">
                        {% for unassigned_order in unassigned_orders %}
                            <p class="text-danger" style="font-size: 18px;">{{ unassigned_order.driver_name }}-д хүлээлгэж өгөөгүй {{ unassigned_order.total_count }} ширхэг хүргэлт байна.</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'CSV файл татах',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">CSV файл татах</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    }, {
                        extend: 'print',
                        text: 'Хэвлэх',
                        text: '<a class="btn btn-outline-secondary" style="float: left;">Хэвлэх</a>',
                        tag: 'span',
                        exportOptions: {
                            modifier: {
                                search: 'none'
                            }
                        }
                    },
                ],
                paging: false,
                "columnDefs": [
                    {
                        "orderData": [0, 1]
                    },
                ],
                pageLength: 50,
                lengthMenu: [
                    50, 100, 200, 500
                ],
                "language": {
                    "lengthMenu": "_MENU_ эгнээ харах",
                    "zeroRecords": "Дата алга",
                    "info": "_PAGES_ хуудаснаас _PAGE_-р хуудас. Нийт: _TOTAL_ хүргэлт",
                    "infoEmpty": "",
                    "sSearch": "Хайх",
                    "paginate": {
                        "previous": "өмнөх",
                        "next": "дараа"
                    }

                }
            });
        });
    </script>
{% endblock main %}
