{% extends "layout.html" %}
{% block main %}

	<section>
        <div class="container">
            <h3>
                Агуулах үйлчилгээ
            </h3>
            <p style="font-size:large;">
                Бараа татах үйлчилгээ /Таны барааг хаяг, тоо ширхэг, овор хэмжээ үйл хамааран очиж авна./
                Агуулах /Хүргэлтэнд гарах барааг чанар стандартын шаардлага хангасан агуулахад хадгална./
                Ангилан ялгах үйлчилгээ / Агуулах дээрэх барааш төрөл, тоо ширхэгийн дагуу ангилан бэлтгэж хүргэлтэнд гаргана./
            </p>
        </div>
        <div class="container">
            <h3>
                Хүргэлийн Үйлчилгээ
            </h3>
            <p style="font-size:large;">
                Хүргэх үйлчилгээ/Таны барааг мэргэшсэн хүргэлтийн ажилтан захиалагчийн хаягийн дагуу түргэн шуурхай хүргэнэ./
                Тооцоо цуглуулах үйлчилгээ/ Таны бараа бүтээгдэхүүнийг хүргэлтийн ажилтан захиалагчийн гарт хүргэж өгөн төлбөрийг авна./
                Таайлан тооцоо гаргах үйлчилгээ/ Хүргэгдсэн барааны мэдээлэл, үлдэгдэл тоо ширхэгийг программд оруулан, тооцоог шилжүүлнэ/
            </p>
        </div>

        <div class="container">
            <img class="" src="{{ url_for('static', filename='images/activity/3.jpg')}}" alt="">
        </div>
        <div class="container">
            <img class="" src="{{ url_for('static', filename='images/activity/4.jpg')}}" alt="">
        </div>
	</section>

{% endblock main %}