{% extends "layout.html" %}
{% block main %}

	<section>
        <!-- =======================
	Banner innerpage -->
	<div class="text-center bg-overlay-dark-4" style="background:url(static/images/bg/05.jpg) no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="fw-bold display-1 mb-2 mb-md-n4">Холбоо барих</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row g-4">
				<div class="col-md-6">
					<div class="contact-box d-flex flex-column h-100 bg-overlay-dark-7 px-3 py-4" style="background:url(static/images/bg/04.jpg) no-repeat; background-size: cover; background-position: center center;">
						<!-- Phone -->
						<div class="all-text-white mb-4">
							<div class="fs-4"><i class="ti-map-alt"></i></div>
							<h5 class="mb-2">Хаяг</h5>
							<p>Баянзурх дүүрэг, 25-р хороо, Манлайбаатар Дамдинсүрэнгийн гудамж A104-22 тоот.</p>
						</div>
						<!-- Email -->
						<div class="all-text-white mb-4">
							<div class="fs-4"><i class="ti-email"></i></div>
							<h5 class="mb-2">И-мэйл</h5>
							<p>sunsunexpressic@gmail.com</p>
						</div>
						<!-- Phone -->
						<div class="all-text-white">
							<div class="fs-4"><i class="ti-panel"></i></div>
							<h5 class="mb-2">Утас</h5>
							<p class="mb-0">75777222</p>
						</div>
					</div>
				</div>
				<!-- google map -->
				<div class="col-md-6">
					<div class="h-100">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d766.0972138807748!2d106.93238783579162!3d47.90976699454354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x229efc0acb46936a!2zNDfCsDU0JzM1LjIiTiAxMDbCsDU2JzAwLjYiRQ!5e1!3m2!1sen!2smn!4v1673180667502!5m2!1sen!2smn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	contact -->
	</section>

{% endblock main %}