{% extends "layout.html" %}
{% block main %}
<!-- =======================
	Main Banner -->
	<section class="p-0">
		<div class="tiny-slider arrow-dark arrow-large arrow-transparent arrow-hover">
			<div class="tiny-slider-inner h-400 h-lg-700" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">
				<!-- slide 1-->
				<div class="h-100 bg-overlay-dark-2" style="background-image:url(static/images/banner/05.jpg); background-position: center center; background-size: cover;">
					<div class="container h-100">
						<div class="row d-flex h-100">
							<div class="col-lg-8 col-xl-6 me-auto slider-content justify-content-center align-self-center align-items-start text-start">
								<h2 class="animate__animated animate__fadeInUp animate__delay-1s display-2 fw-bold text-white">We are creating smart websites.</h2>
								<h3 class="animate__animated animate__fadeInUp animate__delay-2s text-white display-7 alt-font fst-italic mb-2 my-md-4">Crafting visually stunning memorable experiences for the web</h3>
								<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Purchase Now!</a> <a href="#" class="btn btn-link text-white">Check live demo!</a></div>
							</div>
						</div>
					</div>
				</div>
				<!-- slide 2-->
				<div class="h-100 bg-overlay-dark-2" style="background-image:url(static/images/banner/02.jpg); background-position: center top; background-size: cover;">
					<div class="container h-100">
						<div class="row d-flex h-100">
							<div class="col-md-8 justify-content-center align-self-center align-items-start mx-auto">
								<div class="slider-content text-center ">
									<h3 class="animate__animated animate__fadeInUp animate__delay-1s display-7 text-white alt-font fst-italic">Build a very unique and professional website</h3>
									<h2 class="animate__animated animate__fadeInUp animate__delay-2s display-3 fw-bold text-white">We’re good. Just ask our moms.</h2>
									<div class="animate__animated animate__fadeInUp animate__delay-3s mt-3 dealy-1500"><a href="#" class="btn btn-grad">Contact us</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Main banner -->
{% endblock main %}