{% extends "layout.html" %}
{% block main %}

    <div class="text-center bg-overlay-dark-4" style="background:url(static/images/bg/05.jpg) no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row all-text-white">
                <div class="col-md-12 align-self-center">
                    <h1 class="fw-bold display-1 mb-2 mb-md-n4">Ажлын байр</h1>
                </div>
            </div>
        </div>
    </div>

	<section>
        <div class="container">
            <img class="" src="{{ url_for('static', filename='images/about_us/2.jpg')}}" alt="">
        </div>
	</section>

{% endblock main %}