{% extends "layout.html" %}
{% block main %}

	<section>
        <div class="container">
            <h3>Privacy Policy</h3>
            <p>
                At sunsun.mn, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share information about you when you use our website, sunsun.mn (the "Site").

                By using the Site, you agree to the collection, use, and sharing of your information as described in this Privacy Policy. If you do not agree with our policies and practices, do not use the Site.

                Information We Collect

                We collect information about you in the following ways:

                When you provide it to us directly: We collect information about you when you fill out a form or provide your information to us in any other way. This may include your name, email address, phone number, and any other information you choose to provide.

                Automatically: We automatically collect certain information about you when you use the Site, such as your IP address, browser type, and device type. We may also collect information about your location and the website you visited before coming to the Site.

                From third parties: We may receive information about you from third parties, such as social media platforms or other websites.

                How We Use Your Information

                We use the information we collect about you for the following purposes:

                To provide and improve the Site: We use your information to operate and improve the Site, including to personalize your experience, to communicate with you, and to provide support.

                To send you marketing communications: We may use your information to send you emails or other communications about our products or services. You can opt out of these communications at any time by following the instructions in the communication or by contacting us.

                For research and analytics: We may use your information for research and analytical purposes, such as to understand how users are interacting with the Site and to improve our products and services.

                Sharing Your Information

                We may share your information in the following ways:

                With service providers: We may share your information with third party service providers who perform services on our behalf, such as website hosting, data analysis, payment processing, and customer service.

                With business partners: We may share your information with our business partners for the purpose of offering you products or services that may be of interest to you.

                With law enforcement: We may disclose your information to law enforcement or other government agencies if we are required to do so by law or if we believe it is necessary to protect the safety and security of our users or the general public.

                In connection with a sale or merger: In the event that we are acquired by or merged with another company, we may share your information with that company.

                Your Choices

                You have the following choices regarding the collection and use of your information:

                Opting out of marketing communications: You can opt out of receiving marketing communications from us by following the instructions in the communication or by contacting us.

                Accessing and updating your information: You can access and update your information by contacting us.

                Requesting the deletion of your information: You can request the deletion of your information by contacting us. Please note that we may need to retain certain information for legal or business purposes.

                Data Security

                We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes.

                Links to Other Websites

                The Site may contain links to other websites. We are not responsible for the privacy practices or the content of these other websites. We encourage you to read the privacy policies of these websites before providing any information to them.

                Changes to This Privacy Policy
                
                We may update our Privacy Policy from time to time. We will post any updates on this page. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting the information we collect.
                
                Contact Us
                
                If you have any questions or concerns about our Privacy Policy or the information we collect about you, please contact us by email at <strong>sunsunexpressic@gmail.com</strong>.
            </p>
        </div>
	</section>

{% endblock main %}